html{
	height:calc(100% - 20px);
	margin:5px;
	background-color:rgba(0,0,0,0.2);
	color:rgba(225,225,225,1);
	font-family:arial;
}
body:after{
	content:'unitsix';
	bottom:15px;
	right:20px;
	position:absolute;
	font-size:10px;
}
.info{
	text-align:center;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	font-size: 12px;
}
.info h2{
	padding:10px;
	margin:20vh auto 3px auto;
	width:50%;
	font-weight:500;
}
html, .info h2{
	border:2px solid rgba(205,0,0,1);
}
